@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import "tailwindcss";

:root {
  --background: #303030;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #303030;
    --foreground: #FAFAFA;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #C90302;
  --color-secondary: #333333;
  --color-accent: #FFF;
  --color-black: #1E1E1E;
}

::selection {
  @apply bg-primary text-accent;
}


@utility container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Para móviles: padding lateral */
@media (max-width: 768px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* Para >=1280px: ancho máximo 980px */
@media (min-width: 1280px) {
  .container {
    max-width: 1150px;
  }
}

.height-full {
  height: 100dvh;
}

.swiper-pagination-bullet {
  background-color: #04133c !important;
  opacity: 50% !important;
}

.swiper-pagination-bullet-active {
  background-color: #d12d17 !important;
  opacity: 1 !important;
}

.card {
  position: sticky;
  top: 120px;
}

#clickToChat-integration-container .fab__button {
  width: 100px !important;
  height: 100px !important;
}